<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ari_d.justeatit">

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>

        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="mailto"/>
        </intent>
    </queries>

    <application
        android:name=".JustEatit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme">
        <activity
            android:name=".ui.Cart.CartActivity"
            android:exported="false"
            android:label="@string/title_activity_cart"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme.NoActionBar" />
        <activity
            android:name=".ui.Details.Details_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_details"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.Auth.Auth_Activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Profile.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>